<!DOCTYPE html>
<html>
<head>
  <title><%= anime.title %> - <%= req.app.locals.title %></title>
  <% include ../partials/head.ejs %>
</head>
<body>

  <% include ../partials/header.ejs %>
  # <%= anime.id %><br />
  <%= anime.title %><br />
  <%= anime.type %>
  <img src="/img/anime/<%= anime.id %>.jpg" alt="Anime <%= anime.title %>" />
  <% include ../partials/footer.ejs %>

</body>
</html>
